/* .buttonsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  gap: 5px;
}

.button {
  width: 45px;
  height: 45px;
  font-size: 18px;
  cursor: pointer;
} */
.buttonsContainer {
  display: grid;
  grid-template-columns: repeat(3, 60px); /* 3 buttons per row */
  gap: 10px; /* space between buttons */
  justify-content: center; /* center the grid horizontally */
  margin-top: 10px;
}

.button {
  width: 60px;
  height: 60px;
  font-size: 20px;
  cursor: pointer;
}
